
.nav-logo{
    width: 50px; margin-left: 0.8em;
}

.contentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer {
  background-color: #222;
  display: flex;
  flex-flow: column wrap;
  justify-content: Center;
  align-items: center;
  height: 20vh;
}

.parallaxBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-position-y: 0;
  z-index: -1;
}

:root {
  --planetDiameter:400vmax;
}

.planetContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.planetCenterOffset {
  position: absolute;
  top: calc(var(--planetDiameter) / -2);
  left: calc(var(--planetDiameter) / -2);
  height: var(--planetDiameter);
  width: var(--planetDiameter);
}

.orbit {
  position: absolute;
  top: calc(var(--planetDiameter) * 0.5);
}

.circle {
  height: var(--planetDiameter);
  width: var(--planetDiameter);
  background-image: url("/asets/Vector.svg");
}

.slowRotate {
  animation: slowRotate infinite 2s linear;
}
.slowRotate.reverseAnimation {
  animation-direction: reverse;
}

@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  width:100%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  height:45px;
  text-align: center;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.content-block{
    margin-top: 50px;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10em;
width: 98vw;
}

  section {

    min-height: 200px;
    margin-bottom: 30px;
    visibility: hidden;
    transition: background-color 0.3s linear;
  }
  section.is-active {
    background-color: rgba(173, 216, 230, 0.163);
  }
  
